:root {
    --neutral-red_x: 204, 36, 29; /* #cc241d */
    --neutral-red: rgb(var(--neutral-red_x));
    --neutral-green_x: 152, 151, 26; /* #98971a */
    --neutral-green: rgb(var(--neutral-green_x));
    --neutral-yellow_x: 215, 153, 33; /* #d79921 */
    --neutral-yellow: rgb(var(--neutral-yellow_x));
    --neutral-blue_x: 69, 133, 136; /* #458588 */
    --neutral-blue: rgb(var(--neutral-blue_x));
    --neutral-purple_x: 177, 98, 134; /* #b16286 */
    --neutral-purple: rgb(var(--neutral-purple_x));
    --neutral-aqua_x: 104, 157, 106; /* #689d6a */
    --neutral-aqua: rgb(var(--neutral-aqua_x));
    --neutral-orange_x: 214, 93, 14; /* #d65d0e */
    --neutral-orange: rgb(var(--neutral-orange_x));
}

.theme-dark {
    --h1-color: var(--neutral-red);
    --h2-color: var(--neutral-yellow);
    --h3-color: var(--neutral-green);
    --h4-color: var(--neutral-purple);
    --h5-color: var(--neutral-blue);
    --h6-color: var(--neutral-aqua);

    --h1-size: 36px;
    --h2-size: 32px;
    --h3-size: 28px;
    --h4-size: 26px;
    --h5-size: 24px;
    /* --h6-size: 28px; */ /* h6 size is not changed, i think it automatically is the text font size, maybe cause of gruvbox dark theme */
}

/* All headings selector */
.cm-s-obsidian .cm-line.HyperMD-header {
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
}
